.quick-flip-evaluation {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.skinXport-heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.skinXport-hr {
    border: none;
    height: 1px;
    color: #8e9191;
    background-color: #8e9191;
}

.skinXport-minor-heading {
    font-size: 12px;
}

.skinXport-text {
    color: #747778;
    font-size: 12px;
}

.skinXport-recent-stats {
    display: flex;
    flex-direction: row;
}



.skinXport-configuration-section {
    color: #f6f6f6;
    border-bottom: 2px solid #1d2021;
    width: 100%;
    align-items: center;
    background: #2b2f30;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
}